<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="WeatherApiKey" value="dummy"/>
        <add key="ClockUpdateInterval" value="1000" />
        <add key="AlwaysOnTop" value="true" />
        <add key="WindowPosition" value="TopRight" />
        <add key="HorizontalOffset" value="64" />
        <add key="VerticalOffset" value="64" />
        <add key="FontSize" value="72" />
        <add key="Display" value="0" />
        <add key="City" value="Tokyo, JP" />
    </appSettings>
</configuration>
