<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ClockUpdateInterval" value="100" />
        <add key="AlwaysOnTop" value="True" />
        <add key="WindowPosition" value="TopRight" />
        <add key="HorizontalOffset" value="64" />
        <add key="VerticalOffset" value="64" />
        <add key="FontSize" value="128" />
        <add key="Display" value="\\.\DISPLAY2" />
        <add key="City" value="Tokyo, JP" />
    </appSettings>
</configuration>
